label{
    font-size: larger;
    font-weight: bold;
    color: #f87e52;
    
}
.r{
    border: none;
    border-color: #527cf8;
}
.container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #f87e52;
    border-radius: 25px;
    border: none;
    color:#527cf8;
    font-weight: bold;
}
.top{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 4px;
    font-size: 50px;
    color: #ffffff;
}
