<header>
    <div class="navbar navbar-light shadow-sm" style="background-color: #f87e52; ">
        <div class="navbar-brand align-item-center d-flex">
            
            <strong class="a" style="font-size: 30px; padding-left: 20px; color:#ffffff;">ALL BUY VIT</strong>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
            </div>
            <span class="fas fa-search search-icon"></span>


        </div>
        <button routerLink="/products" class="btn btn-primary">HOME</button>
        <button routerLink="login"  class="btn btn-primary">LOGIN</button>
        <button routerLink="register"  class="btn btn-primary">REGISTER</button>
        <button routerLink="profile" class="btn btn-primary">PROFILE</button>
        <button routerLink="cart"  class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
        
    </div>
</header>