.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #527cf8;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
}
.bac{
    background-color: #527cf8;
}
h6{
    color: #ffffff;
    font-weight: bold;
}
h6:hover{
    color: #f87e52;
}
.item img {
    width: 64px;
}
.ig{
    margin-left: auto;
    margin-right: auto;
}

.item {
    margin: 0px 15px;
    text-align: center;
}

.item a:hover {
    color:#f87e52;
}

.card {
    padding: 20px;
    margin: 50px;
    background-color: #ffffff;
}
.btn :hover{
    color:#f87e52;
    background-color: #ffffff;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.d-flex {
    display: flex!important;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.btn{
    background-color: #f87e52;
    border: none;
}
.btn:focus{
    background-color: #527cf8;
}
.btn:hover{
    background-color: #ffffff;
    color: #527cf8;
    font-weight: bold;
}
.container{

    border: none;
}
.row{
    border: none;
    background-color: #f87e52;
}